$site-width: 1200px;
$red1: #ff3d00;
$red2: #b22a00;
$green1: #4caf50;
$green2: #357a38;


html, body{
    padding:0;
    margin:0;
}
body{
    background: url(../img/stars_bg.png) repeat;
}

img{
    max-width: 100%;

}

#app{
    background: #f1f1f1;
    min-height: 100%;
}
a{
    text-decoration: none;
    color: $red2;
}


.site-width{
    width: $site-width;
    margin: 0 auto;
    text-align: center;
    @media screen and (max-width: $site-width){
        width: 100%;
    }
}

.primary-btn{
    background: $red1 !important;
    color: #fff !important;
    cursor: pointer;
    &.on{
        background: $red1 !important;
    }
    &.off{
        background: $red2 !important;
    }
}

.secondary-btn{
    background: $green1 !important;
    cursor: pointer;
    &.on{
        background: $green1 !important;
    }
    &.off{
        background: $green2 !important;
    }
}

.site-header{
    display:flex;
    justify-content: space-between;
    padding: 15px; 
    box-sizing: border-box;
    .site-logo{
        font-size: 30px;
        font-weight: bold;
    }
}
